{% extends 'base.html' %}

 {% load static %}
 
 {% block content %}

 <section id="hero" class="d-flex flex-column justify-content-end align-items-center">
  <div id="heroCarousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">

      <!-- Slide 1 -->
      <div class="carousel-item active">
          <div class="carousel-container-1 hero-image">
              <h2><span>How It Works</span></h2>
              <!-- <h2 class="animate__animated animate__fadeInDown"><span>How It Works</span></h2> -->
              <p>Detailed instructions of the auction process.</p>
              <!-- <p class="animate__animated animate__fadeInUp">Detailed instructions of the auction process.</p> -->
              <a href="https://www.youtube.com/watch?v=Ga_HdfGNNW0&t=4s&ab_channel=TinusPienaar" class="btn-get-started bi bi-play-btn-fill">   Video Tutorial</a>
              <!-- <a href="https://www.youtube.com/watch?v=Ga_HdfGNNW0&t=4s&ab_channel=TinusPienaar" class="btn-get-started animate__animated animate__fadeInUp">Video Tutorial</a> -->
          </div>
      </div>



  </div>

  <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
<defs>
  <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
</defs>
<g class="wave1">
  <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
</g>
<g class="wave2">
  <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
</g>
<g class="wave3">
  <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
</g>
</svg>

</section>

<main id="main">

    <!-- <section>
        <div class="container">
            <div class="section-title" data-aos="zoom-out">
              <h2>Online Auctions</h2>
              <p>How it works</p>
            </div>
        </div>
      </section> -->



      
    


    <section id="portfolio-details" class="portfolio-details">
        <div class="container">
      
          <div class="row gy-4">
            <div class="col-lg-12">
      
              <section id="pricing" class="pricing-1">
                <div class="container">
      
                  <div class="row">
                    <div class="box" data-aos="zoom-in">


                        <div class="row gy-4">
                      <div class="col-lg-6">
                        <!-- <div class="row gy-4">
                            <div class="col-lg-10"> -->
                         <div class='container akb'>
                            
                            <!-- <h4>FIND YOUR PROPERTY</h4> -->
                              <!-- <h4><span>Browse our latest residential and commercial properties</span></h4> -->
                              
                              <!-- <ul>
                                  <li>Browse our variety of residential and commercial properties</li>
                              
                                  
                              </ul> -->
                   
                              <!-- <div class="btn-wrap">
                                  <a href="" class="btn-buy">Apply</a>
                              </div> -->

                              <section>
                                <div class="container">
                                    <div class="section-title-1" data-aos="zoom-out">
                                      <h2>Step 1:</h2>
                                      <p>FIND YOUR PROPERTY</p>
                                      
                                      <div class="wow">
                                        <h6>Surf through our selected range of residential, commercial, Industrial or leisure property Opportunities.</h6>
                                      <!-- <ul>
                                        <li>Browse our variety of residential and commercial properties</li>
                                    </ul> -->
                                  </div>
                                    </div>
                                </div>
                              </section>
                            <!-- </div>
                            </div> -->
                          </div>
                        </div>

                        <div class="col-lg-6">
                            <div class='container'>
                                <div class='ttt'><div class='itembru4'><div class='testas'></div></div></div>
                                <!-- <img class='itembru4' src="{% static  '/img/h1.jpg' %}"> -->
                               
                      
                                 <!-- <div class="btn-wrap">
                                     <a href="" class="btn-buy">Apply</a>
                                 </div> -->
                             </div>
                           </div>
                          


                        </div>

                        <div class="row gy-4">
                            <div class="col-lg-6">
                               <div class='container'>
                                <div class='itembru4'><div class='testas-1'></div></div>
                                <!-- <img src="{% static  '/img/nice4.jpg' %}" class="itembru3"> -->
                         
                                    <!-- <div class="btn-wrap">
                                        <a href="" class="btn-buy">Apply</a>
                                    </div> -->
                                </div>
                              </div>
      
                              <div class="col-lg-6">
                                  <div class='container akb'>
               
                                     <!-- <h4>CONTACT US</h4> -->
                                       <!-- <h4><span>BIDDING DEPOSIT REQUIRED: £2, END DATE: 03/04/2021 20:35:20</span></h4> -->
                                       
                                       <!-- <ul>
                                           <li>We're here to help - we have a full team of real estate experts in each market who are on hand to answer any questions you have about the properties.</li>
                                       
                                           
                                       </ul> -->

                                       <section>
                                        <div class="container">
                                            <div class="section-title-2" data-aos="zoom-out">
                                              <h2>Step 2:</h2>
                                              <p>CONTACT US</p>
                                              <h6>Our team of real estate specialists are on hand to assist you with any query you may have, to assist you in making your acquisition as seamless as possible.</h6>
                                              <!-- <ul>
                                                <li>We're here to help - we have a full team of real estate experts in each market who are on hand to answer any questions you have about the properties.</li>
                                            
                                                
                                            </ul> -->
                                            </div>
                                        </div>
                                      </section>
                            
                                       <!-- <div class="btn-wrap">
                                           <a href="" class="btn-buy">Apply</a>
                                       </div> -->
                                   </div>
                                 </div>
                                
      
      
                              </div>

                              <div class="row gy-4">
                                <div class="col-lg-6">
                                   <div class='container akb'>
                
                                      <!-- <h4>GET THE DETAILS</h4> -->
                                        <!-- <h4><span>BIDDING DEPOSIT REQUIRED: £2, END DATE: 03/04/2021 20:35:20</span></h4> -->
                                        
                                        <!-- <ul>
                                            <li>The legal documentation for every property is available on our website - so you can make an informed decision.</li>
                                        
                                            
                                        </ul> -->

                                        <section>
                                          <div class="container">
                                              <div class="section-title-1" data-aos="zoom-out">
                                                <h2>Step 3:</h2>
                                                <p>IMPORTANT STUFF</p>
                                                <h6>Be sure and familiarize with all the information available on our website to assist you in making an informed decision</h6>
                                                <!-- <ul>
                                                  <li>The legal documentation for every property is available on our website - so you can make an informed decision.</li>
                                              
                                                  
                                              </ul> -->
                                              </div>
                                          </div>
                                        </section>
                             
                                        <!-- <div class="btn-wrap">
                                            <a href="" class="btn-buy">Apply</a>
                                        </div> -->
                                    </div>
                                  </div>
          
                                  <div class="col-lg-6">
                                      <div class='container'>
                   
                                        <div class='itembru4'><div class='testas-2'></div></div>
                                
                                           <!-- <div class="btn-wrap">
                                               <a href="" class="btn-buy">Apply</a>
                                           </div> -->
                                       </div>
                                     </div>
                                    
          
          
                                  </div>

                                  <div class="row gy-4">
                                    <div class="col-lg-6">
                                       <div class='container'>
                    
                                        <div class='itembru4'><div class='testas-3'></div></div>
                                 
                                            <!-- <div class="btn-wrap">
                                                <a href="" class="btn-buy">Apply</a>
                                            </div> -->
                                        </div>
                                      </div>
              
                                      <div class="col-lg-6">
                                          <div class='container akb'>
                       
                                             <!-- <h4>VIEW YOUR PROPERTY</h4> -->
                                               <!-- <h4><span>BIDDING DEPOSIT REQUIRED: £2, END DATE: 03/04/2021 20:35:20</span></h4> -->
                                               
                                               <!-- <ul>
                                                   <li>Join us at one of our open viewings to take a look around and meet our team. </li>
                                               
                                                   
                                               </ul> -->


                                               <section>
                                                <div class="container">
                                                    <div class="section-title-2" data-aos="zoom-out">
                                                      <h2>Step 4:</h2>
                                                      <p>VIEW YOUR PROPERTY</p>
                                                      <h6>Buying real estate is a "contact sport" - be sure to join us on our property preview days to familiarize yourself with your property.</h6>
                                                      <!-- <ul>
                                                        <li>Join us at one of our open viewings to take a look around and meet our team.</li>
                                                    
                                                        
                                                    </ul> -->
                                                    </div>
                                                </div>
                                              </section>
                                    
                                               <!-- <div class="btn-wrap">
                                                   <a href="" class="btn-buy">Apply</a>
                                               </div> -->
                                           </div>
                                         </div>
                                        
              
              
                                      </div>
                                      <div class="row gy-4">
                                        <div class="col-lg-6">
                                           <div class='container akb'>
                        
                                              <!-- <h4>REGISTER FOR BIDDING</h4> -->
                                                <!-- <h4><span>BIDDING DEPOSIT REQUIRED: £2, END DATE: 03/04/2021 20:35:20</span></h4> -->
                                                
                                                <!-- <ul>
                                                    <li>Register to bid on your chosen properties – we’ll need some details about you and a bidding deposit. </li>
                                                
                                                    
                                                </ul> -->

                                                <section>
                                                  <div class="container">
                                                      <div class="section-title-1" data-aos="zoom-out">
                                                        <h2>Step 5:</h2>
                                                        <p>REGISTER FOR BIDDING</p>
                                                        <h6>Contact the BDM managing the sale to assist you or register to bid, you will need to provide us with your FICA documents (South African buyers) and a fully refundable registration deposit should you not be successful in winning the bid on your chosen property.</h6>
                                                        <!-- <ul>
                                                          <li>Register to bid on your chosen properties – we’ll need some details about you and a bidding deposit.</li>
                                                      
                                                          
                                                      </ul> -->
                                                      </div>
                                                  </div>
                                                </section>
                                     
                                                <!-- <div class="btn-wrap">
                                                    <a href="" class="btn-buy">Apply</a>
                                                </div> -->
                                            </div>
                                          </div>
                  
                                          <div class="col-lg-6">
                                              <div class='container'>
                           
                                                <div class='itembru4'><div class='testas-4'></div></div>
                                        
                                                   <!-- <div class="btn-wrap">
                                                       <a href="" class="btn-buy">Apply</a>
                                                   </div> -->
                                               </div>
                                             </div>
                                            
                  
                  
                                          </div>
        
                                          <div class="row gy-4">
                                            <div class="col-lg-6">
                                               <div class='container'>
                            
                                                <div class='itembru4'><div class='testas-5'></div></div>
                                         
                                                    <!-- <div class="btn-wrap">
                                                        <a href="" class="btn-buy">Apply</a>
                                                    </div> -->
                                                </div>
                                              </div>
                      
                                              <div class="col-lg-6">
                                                  <div class='container akb'>
                               
                                                     <!-- <h4>SALE DAY</h4> -->
                                                       <!-- <h4><span>BIDDING DEPOSIT REQUIRED: £2, END DATE: 03/04/2021 20:35:20</span></h4> -->
                                                       
                                                       <!-- <ul>
                                                           <li>Once bidding opens, all registered parties can start placing bids. It's completely transparent - all of the bids will appear in real-time, on the relevant property page.</li>
                                                       
                                                           
                                                       </ul> -->
                                            
                                                       <section>
                                                        <div class="container">
                                                            <div class="section-title-2" data-aos="zoom-out">
                                                              <h2>Step 6:</h2>
                                                              <p>SALE DAY</p>
                                                              <h6>There is no feeling like it, that adrenalin rush of part confidence and part nerves as you bolding start bidding as bidding opens. Bids are live and real time.</h6>
                                                              <!-- <ul>
                                                                <li>Once bidding opens, all registered parties can start placing bids. It's completely transparent - all of the bids will appear in real-time, on the relevant property page.</li>
                                                            
                                                                
                                                            </ul> -->
                                                            </div>
                                                        </div>
                                                      </section>

                                                       <!-- <div class="btn-wrap">
                                                           <a href="" class="btn-buy">Apply</a>
                                                       </div> -->
                                                   </div>
                                                 </div>
                                                
                      
                      
                                              </div>

                                              <div class="row gy-4">
                                                <div class="col-lg-6">
                                                   <div class='container akb'>
                                
                                                      <!-- <h4>CONTRACTS SIGNED</h4> -->
                                                        <!-- <h4><span>BIDDING DEPOSIT REQUIRED: £2, END DATE: 03/04/2021 20:35:20</span></h4> -->
                                                        
                                                        <!-- <ul>
                                                            <li>Once bidding has closed, we immediately sign contracts on behalf of both buyer and seller.</li>
                                                        
                                                            
                                                        </ul> -->
                                             
                                                        <section>
                                                          <div class="container">
                                                              <div class="section-title-1" data-aos="zoom-out">
                                                                <h2>Step 7:</h2>
                                                                <p>CONCLUSION OF SALES</p>
                                                                <h6>You did it, you won the bid, its official, its a deal, congratulations, Auction Rules (Condition of Sale) are signed.</h6>
                                                                <!-- <ul>
                                                                  <li>Once bidding has closed, we immediately sign contracts on behalf of both buyer and seller.</li>
                                                              
                                                                  
                                                              </ul> -->
                                                              </div>
                                                          </div>
                                                        </section>

                                                        <!-- <div class="btn-wrap">
                                                            <a href="" class="btn-buy">Apply</a>
                                                        </div> -->
                                                    </div>
                                                  </div>
                          
                                                  <div class="col-lg-6">
                                                      <div class='container'>
                                   
                                                        <div class='itembru4'><div class='testas-7'></div></div>
                                                
                                                           <!-- <div class="btn-wrap">
                                                               <a href="" class="btn-buy">Apply</a>
                                                           </div> -->
                                                       </div>
                                                     </div>
                                                    
                          
                          
                                                  </div>



                                      


                      </div>
              </section>


              <section id="contact" class="contact">
                <div class="container">
              
                    <div class="section-title" data-aos="zoom-out">
                        <h2>Instructions</h2>
                        <p>Contact us to Bid</p>
                    </div>
              
                    
              
                     <!-- Slide 1 -->
                     
                         
                             <p class=""><b>Contact us via Email or Call us and we'll guide you through the application process.</b></p>
                             <!-- <a href="#contact" class="btn-get-started scrollto">Our Newsletter</a> -->
                         
              
              
              <section></section>
              
                      
                    <div class="row gy-4">
                   
              
                        <!-- <div class="col-lg-12" data-aos="fade-right"> -->
              
                          <!-- <div class="info"> -->
              
                         
              
                             <div class='col-lg-4'>
                            <div class="address info">
                                <i class="bi bi-person"></i>
                                 <h4>Derek Fox</h4>
                                 <p>AUCTION BOYS SPECIALIST</p>
                            </div>
                         </div>
              
                         <div class='col-lg-4'>
                            <div class="email info">
                                <i class="bi bi-envelope"></i>
                                <h4>Email</h4>
                                <p>help@auction-boys.co.za</p>
                            </div>
                         </div>
              
                         <div class='col-lg-4'>
                            <div class="phone info">
                                <i class="bi bi-phone"></i>
                                <h4>Call</h4>
                                
                                <p>Derek Fox: 082 886 0651</p>
                            </div>
                         </div>
                            
                            
              
                        <!-- </div> -->
              
                        <!-- </div> -->
                    
              
                        <!-- <div class="col-lg-8 mt-5 mt-lg-0" data-aos="fade-left"> -->
              
                          <!-- <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                              <div class="row">
                               <p>Fill in your details below and we'll be in touch.</p>
                                  <div class="col-md-2 form-group">
                                      <input type="text" name="name" class="form-control" id="name" placeholder="Name" required>
                                  </div>
                                  <div class="col-md-2 form-group">
                                    <input type="text" name="name" class="form-control" id="name" placeholder="Surname" required>
                                </div>
                                  <div class="col-md-4 form-group mt-3 mt-md-0">
                                      <input type="email" class="form-control" name="email" id="email" placeholder="Email" required>
                                  </div>
                                  <div class="col-md-4 form-group mt-3 mt-md-0">
                                    <input type="location" class="form-control" name="location" id="location" placeholder="Location" required>
                                </div>
                              </div>
                              <div class="form-group mt-3">
                                  <textarea class="form-control" name="message" rows="6" placeholder="Message (Optional)" ></textarea>
                              </div>
                              <div class="my-3">
                                  <div class="loading">Loading</div>
                                  <div class="error-message"></div>
                                  <div class="sent-message">Your message has been sent. Thank you!</div>
                              </div>
                              <div class="text-center"><button type="submit">Submit</button></div>
                          </form> -->
              
                        <!-- </div> -->
              
                    </div>
                    <!-- <section></section> -->
              
                    
              
                    <!-- <div class='col-lg-3'>
                     <div class="info">
                         <h4></h4>
                         <p>1. Contact us for information regarding your registration process.</p>
                         <p></p>
                         <p>2. Wait for us to come back to you with your Sign In credentials.</p>
                     </div>
                 </div> -->
              
                </div>
              </section>




            
</main>
{% endblock %}